{{! 社交信息 }}
<nav class="navigation social">
    <ul class="social">
        <li>
            <a href="https://github.com/lzcdev" class="social-github">
                <i class="fa fa-xlg fa-github" data-original-title="{{t "Github"}}" data-rel="tooltip"></i>
            </a>
        </li>
        <li>
            <a href="https://music.163.com/#/user/home?id=267770379" class="social-music">
                <i class="fa fa-xlg fa-music" data-original-title="{{t "NeteaseMusic"}}" data-rel="tooltip"></i>
            </a>
        </li>
        <li>
            <a href="lzc2134@gmail.com" class="social-mail">
                <i class="fa fa-xlg fa-envelope-o" data-original-title="{{t "Contact Me"}}" data-rel="tooltip"></i>
            </a>
        </li>
    </ul>
</nav>
